################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CitasMedicas/.vs/CitasMedicas/copilot-chat/628027fc/sessions
/CitasMedicas/.vs/CitasMedicas/CopilotIndices/17.14.1368.60722
